caption {
    caption-side:top;
    text-align: center;
}


body {
  padding-top: 70px; 
  font-size: 15px;
  font-family: "segoe-ui", "open-sans", tahoma, arial;
  margin: 0;
}


 /* Personalisation du menu */ 

/* Initialisation de la couleur de texte blanche pour tout le menu */
.navbar-custom .navbar-brand,.navbar-custom .navbar-brand.active,.navbar-custom .navbar-brand:active,.navbar-custom .navbar-brand:focus,.navbar-custom .navbar-brand:hover,.navbar-custom .navbar-nav li a,header{color:#fff}

/* Effet de passage de souris et changement de couleur du bouton de petit menu */
.navbar-custom .navbar-toggle{background-color: transparent; color:white; border-color: white}
.navbar-custom .navbar-toggle:hover{background-color:black;color:#fff;border-color:black}

.navbar-custom{
  background:rgb(119, 119, 119);
  font-weight:600;
  border:none;
}

.navbar-brand{
  padding-top: 20px;
}

/* Couleur du texte lorsqu'on passe la souris */
.navbar-custom .navbar-nav li a:hover{
  color:black;
  background:transparent;}

/* GRAND MENU */

@media (min-width:768px){



  .navbar-custom{min-height: 35px;padding:10px 0;-webkit-transition:padding .3s;-moz-transition:padding .3s;transition:padding .3s}

  /* Taille de la marque du grand menu */
  .navbar-custom .navbar-brand{font-size:1.2em;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}

  /* Couleur du menu coulissant */
  .navbar-custom .dropdown-menu{background-color: rgb(119, 119, 119); box-sizing: border-box;}

}