/****** Paramètres généraux ******/


body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #888;
  line-height: 30px;
}

a, a:hover, a:focus {
  color: #4aaf51;
  text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: #555;
  line-height: 50px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  color: white;
  line-height: 30px;
}

img { max-width: 100%; }

html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body 
{
    overflow-x: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}


 /* Personalisation du menu */ 

.navbar-custom {
  box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
}
/* Initialisation de la couleur de texte blanche pour tout le menu */
.navbar-custom .navbar-brand,.navbar-custom .navbar-brand.active,.navbar-custom .navbar-brand:active,.navbar-custom .navbar-brand:focus,.navbar-custom .navbar-brand:hover,.navbar-custom .navbar-nav li a,header{color:black}

/* Effet de passage de souris et changement de couleur du bouton de petit menu */
.navbar-custom .navbar-toggle{background-color: transparent; color:white; border-color: white}
.navbar-custom .navbar-toggle:hover{background-color:black;color:#fff;border-color:black}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background-color: transparent;}

.navbar-custom{
  background: white;
  font-weight:300;
  border:none;
}

.navbar-nav>li>a {
  padding-top: 20px;
}
/* Couleur du texte au survol */
.navbar-custom .navbar-nav li a:hover{
  color: #2F93DB;
  background: transparent;}

/* GRAND MENU */

@media (min-width:991px){

  .navbar-custom{min-height: 35px;padding:10px 0;-webkit-transition:padding .3s;-moz-transition:padding .3s;transition:padding .3s}

  /* Taille de la marque du grand menu */
  .navbar-custom .navbar-brand{font-size:1.2em;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}

  /* Couleur du menu coulissant */
  .navbar-custom .dropdown-menu{box-sizing: border-box;}

}

/***** Top content *****/

.inner-bg {
    padding: 100px 0 170px 0;
    text-align: center;
}

.top-content .text {
  color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
  color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
  margin-top: 35px;
}

.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #eee;
  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form button.btn {
  width: 100%;
}

.form-bottom form .input-error {
  border-color: #4aaf51;
}


/***** Requêtes @media pour du respnsive design *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
  
  .inner-bg { padding: 200px 0 110px 0; }

}

@media (max-width: 415px) {
  
  h1, h2 { font-size: 32px; }

}

/****** Responsive table ******/

caption {
    caption-side: top;
    text-align: center;
}
